{% extends "base.html" %}
{% load static i18n %}
{% block content %}
		<!-- top header start -->
		<div class="top-header hidden-xs">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="social-icon">
							<ul>
								<li>
									<a title="RSS" href="#" target="_blank"><i class="fa fa-rss"></i></a>
								</li>
								<li>
									<a title="Facebook" href="#" target="_blank"><i class="fa fa-facebook"></i></a>
								</li>
								<li>
									<a title="Twitter" href="#" target="_blank"><i class="fa fa-twitter"></i></a>
								</li>
								<li>
									<a title="Google plus" href="#" target="_blank"><i class="fa fa-google-plus"></i></a>
								</li>
								<li>
									<a title="YouTube" href="#" target="_blank"><i class="fa fa-youtube"></i></a>
								</li>
								<li>
									<a title="Linkedin" href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
								</li>
								<li>
									<a title="Flickr" href="#" target="_blank"><i class="fa fa-flickr"></i></a>
								</li>
								<li>
									<a title="Skype" href="#" target="_blank"><i class="fa fa-skype"></i></a>
								</li>
								<li>
							<a title="Vimeo" href="#" target="_blank"><i class="fa fa-vimeo-square"></i></a>
								</li>
							</ul>
						</div> <!--/.social-icon-->
					</div> <!--/.col-->
					<div class="col-md-6">
						<div class="top-email pull-right">
							<a href="mailto:support@charity.com">
								<i class="fa fa-envelope-o"></i> support@charity.com
							</a>
						</div> <!--/.top-email-->
						<div class="top-phone pull-right">
							<i class="fa fa-phone"></i> +366 123 444 876
						</div> <!--/.top-phone-->
					</div> <!--/.col-->
				</div> <!--/.row-->
			</div> <!--/.container-->
		</div> <!--/.top-header-->
		<!-- top header end -->

		<header class="header" id="header" role="banner">
		    <!-- navigation start -->
		    <div class="navbar">
		        <div class="container">
		            <!-- Brand and toggle get grouped for better mobile display -->
		            <div class="navbar-header">
		                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
		                    <span class="sr-only">Toggle navigation</span>
		                    <span class="icon-bar"></span>
		                    <span class="icon-bar"></span>
		                    <span class="icon-bar"></span>
		                </button>
		                <a class="navbar-brand" href="index.html">
                      <img class="img-responsive" src="{% static 'images/logo.png' %}" alt="">
		                </a>
		            </div>
		            <!-- Collect the nav links, forms, and other content for toggling -->
		            <nav class="collapse navbar-collapse">
		                <ul class="nav navbar-nav navbar-right">
		                    <li class="active dropdown">
		                        <a href="index.html" class="dropdown-toggle" data-toggle="dropdown">Home</a>
		                        <ul class="dropdown-menu" role="menu">
		                            <li class="active"><a href="index.html">Home variation 1</a></li>
		                            <li><a href="index-2.html">Home variation 2</a></li>
		                            <li><a href="index-3.html">Home variation 3</a></li>
		                            <li><a href="index-4.html">Home variation 4</a></li>
		                            <li><a href="boxed.html">Boxed Layout</a></li>
		                        </ul>
		                    </li>
		                    <li class="dropdown">
		                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages</a>
		                        <ul class="dropdown-menu" role="menu">
		                            <li><a href="about-us.html">About us</a></li>
		                            <li><a href="about-us-2.html">About us 2</a></li>
		                            <li><a href="volunteer.html">Be a volunteer</a></li>
		                            <li><a href="services.html">Services</a></li>
		                            <li><a href="gallery.html">Gallery</a></li>
		                            <li><a href="event.html">Event</a></li>
		                            <li><a href="faq.html">Faqs</a></li>
		                        </ul>
		                    </li>
		                    <li class="dropdown">
		                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Causes</a>
		                        <ul class="dropdown-menu" role="menu">
		                            <li><a href="causes-style-1.html">Style 1</a></li>
		                            <li><a href="causes-style-2.html">Style 2</a></li>
		                            <li><a href="causes-style-3.html">Style 3</a></li>
		                        </ul>
		                    </li>
		                    <li class="dropdown megamenu">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Features</a>
								<div class="dropdown-menu mega-dropdown-menu container row">
									<ul class="col-sm-4" role="menu">
										<li><a href="accordion.html">Accordion &amp; Toggle</a></li>
										<li><a href="alert.html">Box alert</a></li>
										<li><a href="heading.html">Headings</a></li>
										<li><a href="animated-counter.html">Animated Counter</a></li>
									</ul>
									<ul class="col-sm-4" role="menu">
										<li><a href="pie-chart.html">Pie charts</a></li>
										<li><a href="pricing.html">Pricing Tables</a></li>
										<li><a href="progress-bar.html">Progress Bar</a></li>
										<li><a href="lists.html">Types of lists</a></li>
									</ul>
									<ul class="col-sm-4" role="menu">
										<li><a href="dropcap.html">Drop caps</a></li>
										<li><a href="divider.html">Dividers</a></li>
										<li><a href="gallery.html">Gallery</a></li>
										<li><a href="tooltip.html">Popover &amp; Tooltip</a></li>
									</ul>
								</div>
							</li>
		                    <li class="dropdown">
		                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog</a>
		                        <ul class="dropdown-menu" role="menu">
		                            <li><a href="blog.html">Blog Right Sidebar</a></li>
		                            <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
		                            <li><a href="blog-single.html">Blog single page</a></li>
		                        </ul>
		                    </li>
		                    <li class="dropdown">
		                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Preset</a>
		                        <ul class="dropdown-menu" role="menu">
		                            <li><a href="red.html">Red</a></li>
		                            <li><a href="orange.html">Orange</a></li>
		                            <li><a href="green.html">Greem</a></li>
		                            <li><a href="lime.html">Lime</a></li>
		                            <li><a href="blue.html">Blue</a></li>
		                            <li><a href="purple.html">Purple</a></li>
		                        </ul>
		                    </li>
		                    <li><a href="contact.html">Contact</a></li>
		                </ul>
		            </nav>
		            <!-- /.navbar-collapse -->
		        </div>
		        <!-- /.container-fluid -->
		    </div>
		</header>
		<!-- header end -->



		<!-- content start -->
		<section id="page-404" class="page-404 pad-b-80">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<h2 class="title-404">404</h2>
						<p>Sorry but the page you just tried accessing wasn't found. <br/>It either was removed or never existed. Unfortunately, that's all we know.</p>
					</div>
				</div> <!--/.row-->
				<div class="row pad-60">
					<div class="col-sx-12">
						<form action="" method="post" class="riana-searchform">
							<fieldset>
								<label class="screen-reader-text" for="s">Search for:</label>
								<input type="text" name="s" id="search" placeholder="Type and press Enter" value="">
								<i class="fa fa-search riana_searchform_icon"></i>
								<input type="hidden" alt="Search">
							</fieldset>
						</form>
					</div>
				</div> <!--/.row-->
			</div> <!--/.container-->
		</section>
		<!-- content end -->



		<!-- footer start -->
		<footer>
			<div class="footer-section pad-40">
				<div class="container">
					<div class="row">
						<div class="col-md-3">
							<h2 class="ft-title"><span>Keep in touch</span></h2>
							<div class="footer-widget-1 address">
								<ul>
									<li><i class="fa fa-home"></i>123, Second Street name, Address.</li>
									<li><i class="fa fa-envelope"></i><a href="mailto:ithemeslab@gmail.com">ithemeslab@gmail.com </a></li>
									<li><i class="fa fa-phone"></i>+1 (123) 456-7890</li>
									<li><i class="fa fa-globe"></i><a href="http://ithemeslab.com" target="_blank">www.ithemeslab.com</a></li>
								</ul>
							</div>
						</div> <!--/footer-1-->
						<div class="col-md-3">
							<div class="footer-widget-2 text-center">
								<img src="{% static "/images/all/footer-logo.png" alt="footer-logo">
								<p>Pellentesque imperdiet purus quis metus imperdiet fermentum. Vestibulum quam elit dapubus</p>
							</div>
							<div class="footer-social">
								<div class="social-icon">
									<ul>
										<li>
											<a title="RSS" href="#" target="_blank"><i class="fa fa-rss"></i></a>
										</li>
										<li>
											<a title="Facebook" href="#" target="_blank"><i class="fa fa-facebook"></i></a>
										</li>
										<li>
											<a title="Twitter" href="#" target="_blank"><i class="fa fa-twitter"></i></a>
										</li>
										<li>
											<a title="Google plus" href="#" target="_blank"><i class="fa fa-google-plus"></i></a>
										</li>
										<li>
											<a title="YouTube" href="#" target="_blank"><i class="fa fa-youtube"></i></a>
										</li>
										<li>
											<a title="Linkedin" href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
										</li>
										<li>
											<a title="Flickr" href="#" target="_blank"><i class="fa fa-flickr"></i></a>
										</li>
									</ul>
								</div> <!--/.social-icon-->
							</div>
						</div> <!--/footer-2-->
						<div class="col-md-3">
							<h2 class="ft-title"><span>Latest tweet</span></h2>
							<div id="twitter-feed" class="twitter-feed">
								<div class="tweet"></div>
							</div>
						</div> <!--/footer-3-->
						<div class="col-md-3">
							<h2 class="ft-title"><span>Flickr stream</span></h2>
							<div class="footer-gallery">
								<a href="{% static "/images/gallery/1.jpg" %}" class="fancybox">
									<img src="{% static "/images/gallery/1.jpg" %}" alt="Gallery Image">
								</a>
								<a href="{% static "/images/gallery/2.jpg" %}" class="fancybox">
									<img src="{% static "/images/gallery/2.jpg" %}" alt="Gallery Image">
								</a>
								<a href="{% static "/images/gallery/3.jpg" %}" class="fancybox">
									<img src="{% static "/images/gallery/3.jpg" %}" alt="Gallery Image">
								</a>
								<a href="{% static "/images/gallery/4.jpg" %}" class="fancybox">
									<img src="{% static "/images/gallery/4.jpg" %}" alt="Gallery Image">
								</a>
								<a href="{% static "/images/gallery/5.jpg" %}" class="fancybox">
									<img src="{% static "/images/gallery/5.jpg" %}" alt="Gallery Image">
								</a>
								<a href="{% static "/images/gallery/6.jpg" %}" class="fancybox">
									<img src="{% static "/images/gallery/6.jpg" %}" alt="Gallery Image">
								</a>
								<a href="{% static "/images/gallery/7.jpg" %}" class="fancybox">
									<img src="{% static "/images/gallery/7.jpg" %}" alt="Gallery Image">
								</a>
								<a href="{% static "/images/gallery/8.jpg" %}" class="fancybox">
									<img src="{% static "/images/gallery/8.jpg" %}" alt="Gallery Image">
								</a>
							</div>
						</div> <!--/footer-4-->
					</div>
				</div>
			</div>
			<div class="copyright">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<small>Copyright © 2014 Charity. All Rights Reserved. Designed by iThemesLab.</small>
						</div>
						<div class="col-md-6">
							<ul class="foot-menu">
								<li class="active"><a href="#">Home</a></li>
								<li><a href="#">Sample sites</a></li>
								<li><a href="#">ithemeslab</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- footer end -->

		<!-- back-to-top start -->
		<a href="#" id="back-to-top" class="back-to-top"><i class="fa fa-angle-up"></i></a>
		<!-- back-to-top end -->
{% endblock %}
