        <!-- volunteer start -->{% load static i18n %}
        <!-- check -->
        <section id="volunteer-section" class="volunteer-section">
            <div class="volunteer-header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <h2 class="lg-title text-center"><span>board</span></h2>
                        </div> <!--/.col-->
                        <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                            <p class="lg-text text-center">The foundation board 2019 is a mix of teachers and active community members predominantly with partner acro or acroyoga backgrounds. However, we strive to represent a wider variety of related communities, creating a colorful melting pot of different circus disciplines and sports acrobatics.</p>
                        </div> <!--/.col-->
                    </div>
                </div>
            </div>
            <div class="volunteers pad-b-80">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="team-wrap text-center">
                                <div class="team-img">
                                    <img class="img-responsive" src="{% static "images/team/tanja_luchsinger.jpg" %}" alt="team-avatar">
                                    <div class="team-social">
                                        <a href="https://fb.me/tanja.luchsinger"><i class="fa fa-facebook"></i></a>
                                        <a href="https://instagram.com/tanjaluchsinger"><i class="fa fa-instagram"></i></a>
                                    </div>
                                </div> <!--/.team-img-->
                                <div class="team-content">
                                    <h4>Tanja Luchsinger</h4>
                                    <span class="designation">President</span>
                                    <p>Acroyogi since we were only three hippies. Nice to see how it has all grown. Looking forward to sharing and working with all of you!</p>
                                </div> <!--/.team-content-->
                            </div> <!--/.team-wrap-->
                        </div> <!--/.team item 1-->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="team-wrap text-center">
                                <div class="team-img">
                                    <img class="img-responsive" src="{% static "images/team/phillip_luscher.jpg" %}" alt="team-avatar">
                                    <div class="team-social">
                                        <a href="https://fb.me/philipp.luscher"><i class="fa fa-facebook"></i></a>
                                    </div>
                                </div> <!--/.team-img-->
                                <div class="team-content">
                                    <h4>Phillip Lüscher</h4>
                                    <span class="designation">Vice President</span>
                                    <p>I work from the shadows. Seen House of Cards? Want to guess who's the next President?</p>
                                </div> <!--/.team-content-->
                            </div> <!--/.team-wrap-->
                        </div> <!--/.team item 2-->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="team-wrap text-center">
                                <div class="team-img">
                                    <img class="img-responsive" src="{% static "images/team/nicole_gubser.jpg" %}" alt="team-avatar">
                                    <div class="team-social">
                                        <a href="https://fb.me/nicole.gubser.1"><i class="fa fa-facebook"></i></a>
                                        <a href="https://instagram.com/nici.ninja"><i class="fa fa-instagram"></i></a>
                                    </div>
                                </div> <!--/.team-img-->
                                <div class="team-content">
                                    <h4>Nicole Gubser</h4>
                                    <span class="designation">Accounting</span>
                                    <p>I have the most amazing job ever! Guess whose money I'm spending on my next Caribbean holidays!</p>
                                </div> <!--/.team-content-->
                            </div> <!--/.team-wrap-->
                        </div> <!--/.team item 3-->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="team-wrap text-center">
                                <div class="team-img">
                                    <img class="img-responsive" src="{% static "images/team/adrian_garate.jpg" %}" alt="Adrian from Acrolama, member of the Event department of the Acro Zuri Verein">
                                    <div class="team-social">
                                        <a href="https://www.acrolama.com"><i class="fa fa-globe"></i></a>
                                        <a href="https://www.facebook.com/agarate"><i class="fa fa-facebook"></i></a>
                                        <a href="https://www.instagram.com/el.adux"><i class="fa fa-instagram"></i></a>
                                    </div>
                                </div> <!--/.team-img-->
                                <div class="team-content">
                                    <h4>Adrian Garate</h4>
                                    <span class="designation">Events & Web</span>
                                    <p>Try to say bubbles in an angry voice. Co-founder of Acrolama. Together with Danica Wagner, I organize the Winter Acro and Urban Acro Zuri Festival. Acrobats are poor, I'm poor, will develop web pages for food!</p>
                                </div> <!--/.team-content-->
                            </div> <!--/.team-wrap-->
                        </div> <!--/.team item 1-->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="team-wrap text-center">
                                <div class="team-img">
                                    <img class="img-responsive" src="{% static "images/team/salvatore_daniele.jpg" %}" alt="team-avatar">
                                    <div class="team-social">
                                        <a href="https://fb.me/yogasalva"><i class="fa fa-facebook"></i></a>
                                        <a href="https://instagram.com/salva_bareful"><i class="fa fa-instagram"></i></a>
                                    </div>
                                </div> <!--/.team-img-->
                                <div class="team-content">
                                    <h4>Salvatore Daniele</h4>
                                    <span class="designation">Ethics</span>
                                    <p>Legend says, I once went into the forest to meditate for 3 years, 3 months and 3 days without food and with excitedly holding my breath in the cold water. I was raving tho, raving. Same same, but different.</p>
                                </div> <!--/.team-content-->
                            </div> <!--/.team-wrap-->
                        </div> <!--/.team item 1-->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="team-wrap text-center">
                                <div class="team-img">
                                    <img class="img-responsive" src="{% static "images/team/david_ospelt.jpg" %}" alt="team-avatar">
                                    <div class="team-social">
                                        <a href="https://fb.me/david.ospelt.98"><i class="fa fa-facebook"></i></a>
                                        <a href="https://instagram.com/david.ospelt"><i class="fa fa-instagram"></i></a>
                                    </div>
                                </div> <!--/.team-img-->
                                <div class="team-content">
                                    <h4>David Ospelt</h4>
                                    <span class="designation">Legal</span>
                                    <p>Please ask me about the Statuten!</p>
                                </div> <!--/.team-content-->
                            </div> <!--/.team-wrap-->
                        </div> <!--/.team item 1-->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="team-wrap text-center">
                                <div class="team-img">
                                    <img class="img-responsive" src="{% static "images/team/lorena_schneider.jpg" %}" alt="team-avatar">
                                    <div class="team-social">
                                        <a href="https://fb.me/lorena.schneider"><i class="fa fa-facebook"></i></a>
                                        <a href="https://instagram.com/schlobine"><i class="fa fa-instagram"></i></a>
                                    </div>
                                </div> <!--/.team-img-->
                                <div class="team-content">
                                    <h4>Lorena Schneider</h4>
                                    <span class="designation">Media</span>
                                    <p> Loudest flyer in the crowd. Broke my neck once, totally survived. Will spam your instagram and mailbox.</p>
                                </div> <!--/.team-content-->
                            </div> <!--/.team-wrap-->
                        </div> <!--/.team item 4-->
                    </div>
                </div>
            </div>
        </section>
        <!-- volunteer end -->
