    <!-- page start -->{% load static i18n %}
    <section id="content" class="main-content pad-60"><
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <!-- contact form start -->
            <div class="contact-form">
              <h3>Contact Form</h3>
              <p>Send an Email. All fields with an * are required.</p>
              <div class="row">
                <form class="form-inline" id="contactForm" name="contact" data-toggle="validator" class="shake" >
                    <div class="form-sec1">
                      <div class="col-md-4 col-xs-12">
                        <div class="form-group">
                          <label for="name">Name <b>*</b></label>
                          <input type="text" class="form-control" id="name" name="name">
                        </div>
                      </div>
                      <div class="col-md-4 col-xs-12">
                        <div class="form-group">
                          <label for="email">Email <b>*</b></label>
                          <input type="email" class="form-control" id="email" name="email">
                        </div>
                      </div>
                      <div class="col-md-4 col-xs-12">
                        <div class="form-group">
                          <label for="msg_subject">Subject</label>
                          <input type="text" class="form-control" id="msg_subject" name="phone">
                        </div>
                      </div>
                    </div>
                    <div class="form-sec2">
                      <div class="col-md-12 col-xs-12">
                        <textarea class="form-control" id="message" rows="10"></textarea>
                      </div>
                    </div>
                    <div class="form-sec3">
                      <div class="col-md-4 col-xs-12">
                        <button type="submit" id="submit" class="btn btn-primary hvr-sweep-to-right" name="submit">Send Mail</button>
                      </div>
                    </div>
                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                  </form>
              </div>
            </div>
            <!-- contact form end -->
          </div>
          <div class="col-md-5">
            <h3 class="sm-title"><span>Contact Info</span></h3>
            <p>We really like to keep in touch! Get all your ideas, comments and so on. We responde everything, just keep in mind that it might take time to responde. For urgent questons try asking in the community Telegram group or Facebook Group.</p>
            <ul class="fa-ul">
              <li><i class="fa-li fa fa-envelope"></i> info@acrozuri.ch</li>
              <li><i class="fa-li fa fa-paper-plane"></i> <a href="t.me/acroyogazurich">t.me/acrozuri</a></li>
              <li><i class="fa-li fa fa-facebook"></i><a title="Facebook" href="https://www.facebook.com/groups/374334435978564/" target="_blank"></a>
            </ul>
          </div>
        </div> <!--/.row-->
      </div> <!--/.container-->
    </section>
    <!-- page start -->
