<!-- page start -->{% load static i18n %}{% load crispy_forms_tags %}
    <section id="contact" class="main-content pad-60"><
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <!-- contact form start -->
            <div class="contact-form">
              <h3>Contact Form</h3>
              <p>Send an Email. All fields with an * are required.</p>
              <div class="row">
                <form method="post">{% csrf_token %}
                    {{ forms.news|crispy }}
                    <button type="submit" class="btn btn-primary">Send</button>
                </form>
              </div>
            </div>
            <!-- contact form end -->
          </div>
          <div class="col-md-5">
            <h3 class="sm-title"><span>Contact Info</span></h3>
            <p>We really like to keep in touch with the community: Hear all your ideas, take your suggestions, work with you. For urgent questions, try asking in the community telegram or facebook group.</p>
            <ul class="fa-ul">
                <li><i class="fa-li fa fa-envelope"></i><a href="mailto=info@acrozuri.ch">info@acrozuri.ch</a></li>
                <li><i class="fa-li fa fa-paper-plane"></i> <a href="t.me/acroyogazurich">t.me/acrozuri</a></li>
                <li><i class="fa-li fa fa-facebook"></i><a  href="https://www.facebook.com/groups/374334435978564/" target="_blank">Facebook</a>
            </ul>
          </div>
        </div> <!--/.row-->
      </div> <!--/.container-->
    </section>
    <!-- page start -->
