chutzkonzept des Acro Züri Vereins (Stand 25. Mai 2020) 
1.
Zielsetzung
Ziel ist es, die schrittweise Wiederaufnahme der Trainingsaktivitäten in den Akrobatik
Sportarten unter Einhaltung der gesundheitlichen / epidemiologischen Vorgaben des
Bundesamtes für Gesundheit (BAG, vgl. Anhang) zu ermöglichen. Die Schutzbestimmungen
werden kontinuierlich den aktuellen COVID-19 Verordnungen angepasst.
2.
Übergeordnete Grundsätze
Die vorliegenden Schutzmassnahmen basieren auf den allgemeinen Grundsätzen zur
Verhinderung der Weiterverbreitung des Coronavirus. Diese Grundsätze sind:
-
Einhaltung der Hygieneregeln des BAG, insb. gründliches Händewaschen vor und nach dem
Training
-
Social-Distancing (2 Meter Mindestabstand zwischen allen Personen; 10 m2 pro Person; kein
Körperkontakt)
-
Maximale Gruppengrösse von fünf Personen gemäß aktueller behördlicher Vorgabe
-
Protokollierung der Teilnehmenden zur Nachverfolgung möglicher Infektionsketten
3.
Risikobeurteilung und Triage
a.
Krankheitssymptome
Trainingsteilnehmende sowie Trainingsleitende mit Krankheitssymptomen dürfen
nicht am Training teilnehmen. Sie informieren die Trainingsgruppe über ihre
Krankheitssymptome, bleiben zuhause und kontaktieren den Hausarzt.
b.
Risikogruppen
Personen, welche gemäss Weisungen des BAG zu Risikogruppen gehören (>65-jährig
oder mit bestimmten Vorerkrankungen), müssen die spezifischen Vorgaben des BAG
beachten.
4.
Anreise, Ankunft und Abreise zum und vom Trainingsort
a.
Anreise
Bei der Anreise ist nach Möglichkeit auf die Verwendung von öffentlichen
Verkehrsmitteln zu verzichten. Nach Möglichkeit soll die Anreise zum Trainingsort mit
individuellen Transportmitteln (Auto, Velo, Motorrad, …) oder zu Fuss erfolgen.
b.
Zutritt zur Sporthalle
Falls der Zugang zur Sporthalle vor Trainingsbeginn noch nicht möglich sein sollte, ist
bereits beim Warten zwingend ein Abstand von zwei Metern einzuhalten.
c.
Begrüssungsrituale
Auf die üblichen Begrüssungs- bzw. Verabschiedungsrituale (Handeschütteln /
