{% extends "base.html" %} {% load static i18n %}
{% block content %}
    <!-- main content start -->
    <section id="main-content" class="main-content pad-60">
      <div class="container">
        <div class="row">
          <div class="col-md-12 pad-b-60">
              <img src="{%static "images/all/jam.jpg" %}" class="img-responsive" alt="Jam Images">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-xs-12">
            <div class="article">
              <h2>Zirkus Quartier Acroyoga Jam</h2>
              <p>The oldest Acroyoga jam in Züri. Zirkus chnopf has giving shellter to this jam for about 5 years now, come, join and meet the community. If you have anyquestions regarding experience needed or so we reccomend you to visit our <a href="www.acrozuri.ch/#faq">FAQ</a></p>
            </div> <!--/.article-->
          </div>
          <div class="col-sm-4 col-xs-12">
            <ul class="fa-ul event">
              <li><i class="fa-li fa fa-calendar"></i> Jam Date: each Thursday</li>
              <li><i class="fa-li fa fa-clock-o"></i> Jam Time: 19:15 </li>
              <li><i class="fa-li fa fa-map-marker"></i> Location: Flurstrasse 85, 8047 Zürich</li>
              <li><i class="fa-li fa fa-credit-card"></i> Donation: CHF 5.-</li>
            </ul>
          </div>
        </div> <!--/.row-->
        <div class="row">
          <div class="col-sm-8 col-xs-12">
            <div class="article">
              <h2>Open Traning Zirkus Quartier</h2>
              <p>Ever wondered how a Zirkus Open traning looks like ? This is a good oportunity to see many different diciplines on the traning floor. Since a year or two the Acro community as been regularly going there to practice Acro in all different variations. Feel free to join! Questions? Look our <a href="www.acrozuri.ch/#faq">FAQ</a></p>
            </div> <!--/.article-->
          </div>
          <div class="col-sm-4 col-xs-12">
            <ul class="fa-ul event">
              <li><i class="fa-li fa fa-calendar"></i> Jam Date: each Monday</li>
              <li><i class="fa-li fa fa-clock-o"></i> Jam Time: 17:30</li>
              <li><i class="fa-li fa fa-map-marker"></i> Location: Flurstrasse 85, 8047 Zürich</li>
              <li><i class="fa-li fa fa-credit-card"></i> Donation: CHF 5.-</li>
            </ul>
          </div>
        </div> <!--/.row-->
      </div> <!--/.container-->
    </section>
    <!-- main content end -->

    <!-- feature start -->
    <section id="feature" class="feature pad-b-80">
        <div class="container">
            <div class="row">
              <div class="col-md-12 pad-b-60">
                  <img src="{%static "images/all/class.jpg" %}" class="img-responsive" alt="Jam Images">
              </div>
            </div><!-- ./row -->
            <div class="row">
                <div class="row pad-b-60">{% for obj in class %}
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="service-box">
                            <h3>{{obj.title}}</h3>
                            <ul class="fa-ul event">{% if obj.teacher %}
                                <li><i class="fa-li fa fa-graduation-cap"></i> Teacher(s): {{obj.teacher}}</li>{% endif %}
                                <li><i class="fa-li fa fa-calendar"></i> Date: {{ obj.date}}</li>
                                <li><i class="fa-li fa fa-clock-o"></i> Time: {{obj.time}}</li>{% if obj.location %}
                                <li><i class="fa-li fa fa-map-marker"></i> Location: {{obj.location}}</li>{% endif %}
                                <li><i class="fa-li fa fa-credit-card"></i> Price: {{obj.price}}</li>
                                <li><i class="fa-li fa fa-globe"></i> Link: <a href="{{obj.web}}">{{obj.web}}</a></li>{% if obj.note%}
                                <li><i class="fa-li fa fa-arrow-right"></i> Note: {{obj.note}}</li>{% endif%}
                            </ul>
                        </div> <!--//item1-->
                    </div> <!--/.col-->{% endfor %}
                </div>
            </div> <!--/.row-->
        </div> <!--/.container-->
    </section>
    <!-- feature end -->
    {% endblock %}
