{% extends "base.html" %} {% load static i18n %}
{% block content %}
    <!-- main content start -->
    <section id="events" class="main-content pad-60">
      <div class="container">
        <div class="row">
          <div class="col-md-12 pad-b-60">
              <img src="{%static "images/all/jam.jpg" %}" class="img-responsive" alt="Jam Images">
          </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-xs-12">
                <div class="article">
                    <h2>Jams</h2>
                    <p>What is this even? Whenever the weather permits, we love to gather somewhere outside and play together. These so-called jams are self-organized, usually in our <a href="https://t.me/acrozuri_bot">Telegram Group</a>. Most jams take place at either Chinawiese or Josefwiese. It’s a great opportunity to get a sense of what Acroyoga is all about and meet some new people. There’s really worse things to do than being out in the sun and having fun.</br> Find listed below a few of the regular jams in Zürich, keep in mind that on good weather conditions participants might prefere to be outdoors.</p></br>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-xs-12">
                <div class="article">
                  <h2>Zirkus Quartier Acroyoga Jam</h2>
                  <p>The oldest Acroyoga jam in Züri. Zirkus Quartier has giving shelter to this jam for about 5 years now, come, join and meet the community. If you have any questions regarding experience needed or so we recommend you to visit our <a href="/#faq">FAQ</a></p>
                </div> <!--/.article-->
            </div>
            <div class="col-sm-4 col-xs-12">
                <ul class="fa-ul event">
                  <li><i class="fa-li fa fa-calendar"></i> Jam Date: Thursdays</li>
                  <li><i class="fa-li fa fa-clock-o"></i> Jam Time: 19:15 </li>
                  <li><i class="fa-li fa fa-map-marker"></i> Location: Flurstrasse 85, 8047 Zürich</li>
                  <li><i class="fa-li fa fa-credit-card"></i> Donation: CHF 5</li>
                </ul>
            </div>
        </div> <!--/.row-->
        <div class="row">
          <div class="col-sm-8 col-xs-12">
            <div class="article">
              <h2>Open Training Zirkus Quartier</h2>
              <p>Ever wondered how a Zirkus Open Training looks like ? This is a good opportunity to see many different disciplines on the training floor. For a year or two, the Acro community as been regularly going there to practice Acro in all its variations. Feel free to join! Questions? Check our <a href="/#faq">FAQ</a></p>
            </div> <!--/.article-->
          </div>
          <div class="col-sm-4 col-xs-12">
            <ul class="fa-ul event">
              <li><i class="fa-li fa fa-calendar"></i> Jam Date: Mondays</li>
              <li><i class="fa-li fa fa-clock-o"></i> Jam Time: 17:30</li>
              <li><i class="fa-li fa fa-map-marker"></i> Location: Flurstrasse 85, 8047 Zürich</li>
              <li><i class="fa-li fa fa-credit-card"></i> Donation: CHF 5</li>
            </ul>
          </div>
        </div> <!--/.row-->
        <div class="row">
          <div class="col-sm-8 col-xs-12">
            <div class="article">
              <h2>Saturday Acro Verein Jam</h2>
              <p>The one an online Verein hosted jam (for now ;)) we're working hard on making it as hellcoming for everyone as we can! Recently we got new matts and are constantly looking to improve our infrastructure to have a safe and fun place to share acro with everyone!<a href="/#faq">FAQ</a></p>
            </div> <!--/.article-->
          </div>
          <div class="col-sm-4 col-xs-12">
            <ul class="fa-ul event">
              <li><i class="fa-li fa fa-calendar"></i> Jam Date: Saturday</li>
              <li><i class="fa-li fa fa-clock-o"></i> Jam Time: 13:30</li>
              <li><i class="fa-li fa fa-map-marker"></i> Location: , 8047 Zürich</li>
              <li><i class="fa-li fa fa-credit-card"></i> Donation: CHF 5 Members: Free</li>
            </ul>
          </div>
        </div> <!--/.row-->
        <div class="row">
          <div class="col-sm-8 col-xs-12">
            <div class="article">
              <h2>Other Groups and Jams</h2>
              <p>Other Acrobatics groups have regular meetings. The <a href="https://bewegigsruum.ch/">Rote Fabrik Group</a> or the <a href="https://www.kinderzirkus.ch/">Zirkus Robinson</a> have regular jams. ASVZ doesn't exactly have jams but checking out the <a href="https://www.asvz.ch/sport/45680-manege">Manege</a> if definitly worth it. For other questions look our <a href="/#faq">FAQ</a></p>
            </div> <!--/.article-->
          </div>
          <div class="col-sm-4 col-xs-12">
            <ul class="fa-ul event">
              <li><i class="fa-li fa fa-calendar"></i> Jam Date: Tuesday, Thuersday & Sunday</li>
            </ul>
          </div>
        </div> <!--/.row-->
      </div> <!--/.container-->
    </section>
    <!-- main content end -->

    <!-- feature start -->
    <section id="classes" class="main-content pad-b-80">
        <div class="container">
            <div class="row">
              <div class="col-md-12 pad-b-60">
                  <img src="{%static "images/all/class.jpg" %}" class="img-responsive" alt="Jam Images">
              </div>
            </div><!-- ./row -->
            <div class="row">
                <div class="col-sm-8 col-xs-12">
                    <div class="article">
                        <h2>Classes</h2>
                        <p>Take your skills to the next level! Classes are a great way to improve your skills in a more structured way or work on a particular trick according to your level. We have quite a broad range of classes happening in Zurich almost every day of the week. Find all the classes on the list below and take your pick</p></br>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row pad-b-60">{% for obj in class %}
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="service-box">
                            <h3>{{obj.title}}</h3>
                            <ul class="fa-ul event">{% if obj.teacher %}
                                <li><i class="fa-li fa fa-graduation-cap"></i> Teacher(s): {{obj.teacher}}</li>{% endif %}
                                <li><i class="fa-li fa fa-calendar"></i> Date: {{ obj.date}}</li>
                                <li><i class="fa-li fa fa-clock-o"></i> Time: {{obj.time}}</li>{% if obj.location %}
                                <li><i class="fa-li fa fa-map-marker"></i> Location: {{obj.location}}</li>{% endif %}
                                <li><i class="fa-li fa fa-credit-card"></i> Price: {{obj.price}}</li>
                                <li><i class="fa-li fa fa-globe"></i> Link: <a href="{{obj.web}}">{{obj.web}}</a></li>{% if obj.note%}
                                <li><i class="fa-li fa fa-arrow-right"></i> Note: {{obj.note}}</li>{% endif%}
                            </ul>
                        </div> <!--//item1-->
                    </div> <!--/.col-->{% endfor %}
                </div>
            </div> <!--/.row-->
        </div> <!--/.container-->
    </section>
    <!-- feature end -->
    {% endblock %}
