        <!-- feature header start -->{% load static i18n %}
        <section id="feature-header" class="feature-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <h2 class="lg-title text-center"><span>WHAT THE VEREIN STANDS FOR</span></h2>
                    </div> <!--/.col-->
                    <div class="col-md-8 col-sm-12 col-xs-12 col-md-offset-2">
                        <p class="lg-text text-center"></p>
                    </div> <!--/.col-->
                </div> <!--/.row-->
            </div> <!--/.container-->
        </section>
        <!-- feature header end -->
        <!-- feature start -->
        <section id="feature" class="feature pad-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="feature-wrap">
                            <div class="icon-wrap"><i class="fa fa-fire"></i></div>
                            <h3>Promoting our community</h3>
                            <p>By having a Verein it's easier to connect with more people and organizations.</p>
                        </div>
                    </div> <!--/.col-->
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="feature-wrap">
                            <div class="icon-wrap"><i class="fa fa-magic"></i></div>
                            <h3>Organizing events</h3>
                            <p>Each event has a different purpuse with the same ground goal to enrich the local Acro communtiy</p>
                        </div>
                    </div> <!--/.col-->
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="feature-wrap">
                            <div class="icon-wrap"><i class="fa fa-level-up"></i></div>
                            <h3>Boosting its popularity</h3>
                            <p>The more people the more ideas, experiences and fun we have!</p>
                        </div>
                    </div> <!--/.col-->
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="feature-wrap">
                            <div class="icon-wrap"><i class="fa fa-key"></i></div>
                            <h3>facilitating access</h3>
                            <p>Not allways easy to get information and a proper space. We want to help!</p>
                        </div>
                    </div> <!--/.col-->
                </div> <!--/.row-->
            </div> <!--/.container-->
        </section>
        <!-- feature end -->
