{% extends "base.html" %}
{% load static i18n %}
{% block content %}
        <!-- slideshow start -->
        <section id="slideshow" class="slideshow">
            <div id="main-slideshow" class="main-slideshow">
                <div class="item">
                    <img src="{% static "images/slideshow/slider1.jpg" %}" alt="Slider 1">
                    <div class="slide-caption">
                        <h2 class="slide1anim1">Be part of the <span>Acro Züri Verein</span></h2>
                        <h3 class="slide1anim2">Registration is easy <br />all the info HERE.</h3>
                        <a href="{% url 'member' %}" class="btn btn-slideshow slide1anim3">Sign up now</a>
                    </div>
                </div>
                <div class="item">
                    <img src="{% static "images/slideshow/slider2.jpg" %}" alt="Slider 2">
                    <div class="slide-caption">
                        <h2 class="slide2anim1">Have any cool ideas? <span>Get in touch!</span></h2>
                        <h3 class="slide2anim2">We hope to get all your are ideas<br/> and support them to our max extend.</h3>
                        <a href="mailto:info@acrozuri.ch" class="btn btn-slideshow slide1anim3">Write Us</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- slideshow end -->
        {% include 'pages/feature.html' %}
        {% include 'pages/board.html' %}
        {% include 'pages/media.html' %}
        {% include 'pages/member.html' %}
        {% include 'pages/utility.html' %}
        {% include 'pages/contact.html' %}
{% endblock %}
