        <!-- media header start -->{% load static i18n %}
        <section id="causes-header" class="causes-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <h2 class="lg-title text-center"><span>COMMUNITY PICTURES</span></h2>
                    </div> <!--/.col-->
                    <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                        <p class="lg-text text-center">We connect through our instagram: <a href="https://www.instagram.com/acrozuri">@acrozuri</a> or the hashtag #acrozuri and get the best pics here!</p>
                    </div> <!--/.col-->
                </div> <!--/.row-->
            </div> <!--/.container-->
        </section>
        <!-- urgent causes header end -->
        <!-- urgent causes start -->
        <!-- check -->
        <section id="causes" class="causes">
            <div class="container">
                <div class="row text-center">
                <!--
                    <div class="isotope-nav">
                        <ul>
                            <li class="active" data-filter="*">All</li>
                            <li data-filter=".children">Jams</li>
                            <li data-filter=".disabled">Standing Acro</li>
                            <li data-filter=".draught">Acrodance</li>
                            <li data-filter=".education">Balance</li>
                            <li data-filter=".elderly">L Basing</li>
                            <li data-filter=".women">Dynamic Flow</li>
                        </ul>
                    </div>-->
                </div> <!--/.row-->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="urgent-causes">
                                <div class="col-sm-4 col-xs-12 children draught isotope-item">
                                    <div class="grid">
                                        <figure class="gallery-item effect-oscar">
                                            <img src="{% static "images/gallery/1.jpg" %}" alt="ug-1"/>
                                            <div class="hover-icon">
                                                <a href="{% static "images/gallery/1.jpg" %}" class="fancybox">
                                                    <i class="fa fa-search-plus fa-3x"></i>
                                                </a>
                                            </div>
                                        </figure>
                                    </div>
                                </div> <!--//item 1-->
                                <div class="col-sm-4 col-xs-12 education isotope-item causes-style1">
                                    <div class="grid">
                                        <figure class="gallery-item effect-oscar">
                                            <img src="{% static "images/gallery/2.jpg" %}" alt="img09"/>
                                            <div class="hover-icon">
                                                <a href="{% static "images/gallery/2.jpg" %}" class="fancybox">
                                                    <i class="fa fa-search-plus fa-3x"></i>
                                                </a>
                                            </div>
                                        </figure>
                                    </div>
                                </div> <!--//item 2-->
                                <div class="col-sm-4 col-xs-12 women isotope-item causes-style1">
                                    <div class="grid">
                                        <figure class="gallery-item effect-oscar">
                                            <img src="{% static "images/gallery/3.jpg" %}" alt="img09"/>
                                            <div class="hover-icon">
                                                <a href="{% static "images/gallery/3.jpg" %}" class="fancybox">
                                                    <i class="fa fa-search-plus fa-3x"></i>
                                                </a>
                                            </div>
                                        </figure>
                                    </div>
                                </div> <!--//item 3-->
                                <div class="col-sm-4 col-xs-12 disabled women isotope-item causes-style1">
                                    <div class="grid">
                                        <figure class="gallery-item effect-oscar">
                                            <img src="{% static "images/gallery/4.jpg" %}" alt="img09"/>
                                            <div class="hover-icon">
                                                <a href="{% static "images/gallery/4.jpg" %}" class="fancybox">
                                                    <i class="fa fa-search-plus fa-3x"></i>
                                                </a>
                                            </div>
                                        </figure>
                                    </div>
                                </div> <!--//item 4-->
                                <div class="col-sm-4 col-xs-12 children women isotope-item causes-style1">
                                    <div class="grid">
                                        <figure class="gallery-item effect-oscar">
                                            <img src="{% static "images/gallery/5.jpg" %}" alt="img09"/>
                                            <div class="hover-icon">
                                                <a href="{% static "images/gallery/5.jpg" %}" class="fancybox">
                                                    <i class="fa fa-search-plus fa-3x"></i>
                                                </a>
                                            </div>
                                        </figure>
                                    </div>
                                </div> <!--//item 5-->
                                <div class="col-sm-4 col-xs-12 elderly disabled isotope-item causes-style1">
                                    <div class="grid">
                                        <figure class="gallery-item effect-oscar">
                                            <img src="{% static "images/gallery/9.png" %}" alt="img09"/>
                                            <div class="hover-icon">
                                                <a href="{% static "images/gallery/9.png" %}" class="fancybox">
                                                    <i class="fa fa-search-plus fa-3x"></i>
                                                </a>
                                            </div>
                                        </figure>
                                    </div>
                                </div> <!--//item 6-->
                                <div class="col-sm-4 col-xs-12 elderly disabled isotope-item causes-style1">
                                    <div class="grid">
                                        <figure class="gallery-item effect-oscar">
                                            <img src="{% static "images/gallery/7.jpg" %}" alt="img09"/>
                                            <div class="hover-icon">
                                                <a href="{% static "images/gallery/7.jpg" %}" class="fancybox">
                                                    <i class="fa fa-search-plus fa-3x"></i>
                                                </a>
                                            </div>
                                        </figure>
                                    </div>
                                </div> <!--//item 6-->
                                <div class="col-sm-4 col-xs-12 elderly disabled isotope-item causes-style1">
                                    <div class="grid">
                                        <figure class="gallery-item effect-oscar">
                                            <img src="{% static "images/gallery/8.jpg" %}" alt="img09"/>
                                            <div class="hover-icon">
                                                <a href="{% static "images/gallery/8.jpg" %}" class="fancybox">
                                                    <i class="fa fa-search-plus fa-3x"></i>
                                                </a>
                                            </div>
                                        </figure>
                                    </div>
                                </div> <!--//item 6-->
                                <div class="col-sm-4 col-xs-12 elderly disabled isotope-item causes-style1">
                                    <div class="grid">
                                        <figure class="gallery-item effect-oscar">
                                            <img src="{% static "images/gallery/6.jpg" %}" alt="img09"/>
                                            <div class="hover-icon">
                                                <a href="{% static "images/gallery/6.jpg" %}" class="fancybox">
                                                    <i class="fa fa-search-plus fa-3x"></i>
                                                </a>
                                            </div>
                                        </figure>
                                    </div>
                                </div> <!--//item 6-->
                            </div> <!--/.urgent-causes-->
                        </div>
                    </div>
                </div> <!--/.row-->
            </div> <!--/.container-->
        </section>
        <!-- urgent causes end -->
