        <!-- extensions start -->{% load static i18n %}
        <!-- check -->
        <section id="about" class="extensions pad-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <h2 class="lg-title-2">what we're working on now</h2>
                        <p>As the first board of the verein its important to set a solid fundation. We're developing security standards, getting  access to halls,working on all the paper work required and talking with all of you to find a common vision for this community. But not everything is long term, there are many problems that need to be addressed in the short term, in particular we're working on:</p>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="icon-list">
                                    <ul class="fa-ul">
                                        <li><i class="fa-li fa fa-gears"></i> We need a logo!</li>
                                        <li><i class="fa-li fa fa-gears"></i> Finding traning spaces</li>
                                        <li><i class="fa-li fa fa-gears"></i> Organizing an flash mob</li>
                                    </ul>
                                </div>
                            </div> <!--/.col-->
                                <div class="col-md-6">
                                <div class="icon-list">
                                    <ul class="fa-ul">
                                        <li><i class="fa-li fa fa-gears"></i> Ensurance for the traning spaces</li>
                                        <li><i class="fa-li fa fa-gears"></i> Setting a solid Financial ground</li>
                                        <li><i class="fa-li fa fa-gears"></i> Connecting with other associations</li>
                                    </ul>
                                </div>
                            </div> <!--/.col-->
                        </div> <!--/.row-->
                         <p>If you feel you want to help in any of this tasks, have any cool ideas to share, or have any suggestions just get in touch by clicking<a href="mailto=info@acrozuri.ch"> HERE</a> and write us.</p>
                         <p><strong>By becoming a member of the Acro Züri Verein</strong> you will help grow the Acrobatics and AcroYoga community in Zurich. Together, we will be able to provide training spaces, invite teachers, organize events and keep prices as low as possible to make Acrobatics and AcroYoga accessible to everyone. We don’t like to think of you becoming a member as being of transactional nature. Rather, <strong>we’d like everyone to feel like a team working together to create a future with the Verein</strong>. As mentioned before, this includes creating training possibilities, subsidizing workshops and providing a platform for people to learn and share.</p>
                         <p><strong>With the 100 CHF fee per year</strong> we pay the rent for our training space, we invite teachers to hold workshops, and we support acro-related events and projects.</p>
                    </div> <!--/.col-->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="volunteer text-center">
                            <img class="img-responsive" src="{% static "images/all/volunteer.jpg" %}" alt="volunteer">
                            <h2>Membership</h2>
                            <h3>Be part!</h3>
                            <p>Click on any of the “sign up now” buttons, send us your contact details and we’ll get back to you with a pre-filled form for you to sign. You may hand us a printout of your signed copy or scan it and send it via email to info@acrozuri.ch</p>
                            <a class="btn btn-join" href="{% url 'member' %}">Sign up now</a>
                        </div>
                    </div> <!--/.col-->
                </div> <!--/.row-->
            </div> <!--/.container-->
        </section>
        <!-- extensions end -->
