        <!-- utility start -->{% load static i18n %}
        <section id="faq" class="utility">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="lg-title"><span>Recent posts</span></h3>
                        <div id="blog-carousel" class="blog-carousel">
                            <div class="item">
                                <img src="{% static "images/blog/carousel/post-4.jpg" %}" alt="post1">
                                <h4 class="title">BLOG - UNDER CONSTRUCTION</h4>
                                <div class="meta">
                                    <span>25 Jun 2015</span>
                                    <span>/</span>
                                    <span>Hits: 4</span>
                                </div>
                                <p>The Blog Section is currently under construction :) </p>
                                <a href="#" class="readmore">read more...</a>
                            </div> <!--//item4-->
                        </div> <!--/.blog-carousel-->
                    </div> <!--/.col-->
                    <div class="col-md-6">
                        <h3 class="lg-title"><span>Most FAQ</span></h3>
                        <div id="st-accordion" class="st-accordion">
                            <ul>
                                <li>
                                    <a href="#">I have no experience. Can I still join the jams?<span class="st-arrow"></span></a>
                                    <div class="st-content">
                                        <p>Yes, absolutely! Jams are a great way to get into the Acro scene. Join our WhatsApp group, bring a friend if you like and come join us in the grass. Usually there are plenty of friendly AcroYogis who are more than happy to take you by your hand and teach you some of the basics.</p>
                                    </div>
                                </li>
                                <li>
                                    <a href="#">What happens with the membership fees?<span class="st-arrow"></span></a>
                                    <div class="st-content">
                                        <p>With the membership fees we pay the rent for our training space, we invite teachers to hold workshops, and we support acro-related events and projects.</p>
                                    </div>
                                </li>
                                <li>
                                    <a href="#">Do I have to bring a partner or can I come alone?<span class="st-arrow"></span></a>
                                    <div class="st-content">
                                        <p>That’s up to you. While it is great to have someone to train with and work on tricks, it is not a requirement. Ask around if someone would like to try a few things with you or if you can join a group.</p>
                                    </div>
                                </li>
                                <li>
                                    <a href="#">I don’t feel safe doing a trick – what do I do?<span class="st-arrow"></span></a>
                                    <div class="st-content">
                                        <p>Either say no or ask for a spotter. A spotter is a third (or a fourth) person who will make sure that you can practice your trick safely. In the best case, the spotter is someone who already has experience with AcroYoga and knows the move well. If someone asks you to spot a trick you have no experience with, or you feel uncomfortable doing so, please let your fellow AcroYogis know and ask someone else to take over for you. We want to play safe and keep having fun!</p>
                                    </div>
                                </li>
                                <li>
                                    <a href="#">Do I have to bring a mat?<span class="st-arrow"></span></a>
                                    <div class="st-content">
                                        <p>Bring whatever you think you might need to feel comfortable in the grass. Sometimes it’s useful to have at least a towel that you can put on the ground or fold a few times to help you with certain tricks. If you’re super into nature, just lie down in the grass.</p>
                                    </div>
                                </li>
                            </ul>
                        </div> <!--/.st-accourdion-->
                    </div> <!--/.col-->
                </div> <!--/.row-->
            </div> <!--/.container-->
        </section>
        <!-- utility end -->
