<!-- Menu Start -->
<!-- Collect the nav links, forms, and other content for toggling -->
<nav class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
        <li class="active dropdown">
          <a href="{% url 'home' %}">Home</a>
        </li>
        <li class="dropdown">
          <a href="{% url "event" %}">Jams & Classes</a>
        </li>
        <li class="dropdown">
          <a href="{% url "home" %}#about">About Us</a>
        </li>
<!--        <li class="dropdown">
          <a href="{% url "home" %}#faq" >Blog</a>
</li>-->
        <li class="dropdown">
          <a href="{% url 'home' %}#contact">Contact</a>
        </li>
    </ul>
</nav>
<!-- /.navbar-collapse -->
